<div class="modal fade" id="editBloodPressureModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title title" id="editModalLabel">Edit entry: {{ display_date }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-entry" name="edit-entry" action="{{url_for('editEntry', year = display_year, month = display_month, day = display_day)}}" method="POST">
            {{ bloodpressure_form.hidden_tag() }}
            <div class="form-group">
                <label for="date">Date</label>
                <p id="modal-date"></p>

            </div>
            <div class="form-group">
                <p id="modal-systolic"></p>
            </div>
            <div class="form-group">
                <p id="modal-diastolic"></p>
            </div>
            <br><br>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ bloodpressure_form.submit_bloodpressure(class="btn submit-btn") }}
                </span>
            </div>
        </form>
        <form action="#" class="confirm-delete" method="POST">
            <div id="initial-delete">
                <a id="delete-bloodpressure-entry" href="#">
                    Delete
                    <span class="fa fa-trash"></span>
                </a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
