<li class="day_view__entry card">
    <table>
        <tbody>
            <tr id="timesheet">
                <td>
                    <div class="entry__info">
                        <div class="project__client">
                            <span class="project">
                                <strong>Blood Pressure </strong> Measurement
                            </span>
                        </div>
                        <div class="task_notes">
                            <span class="task">
                                <strong>ID:</strong> {{ bloodpressure.id }}
                                <span class="ndash">&nbsp</span>-<span class="ndash">&nbsp</span>
                                <strong>Systolic: </strong> {{ bloodpressure.systolic }} Sys.
                                <span class="ndash">&nbsp</span>-<span class="ndash">&nbsp</span>
                                <strong>Diastolic: </strong> {{ bloodpressure.diastolic }} Dia.
                            </span>
                            {% if bloodpressure.description %}
                                <span class="notes">
                                    <p>
                                        <span class="ndash"> Description: </span>
                                        {{ bloodpressure.description }}
                                    </p>
                                </span>
                            {% endif %}

                        </div>
                    </div>
                </td>
                <td class="entry__time">
                    <!-- TODO: Add dynamic generated id to form for each entry -->
                    <!-- Sends correct timer id (activity.id) to socketio room for toggle timer functionality -->
                    <form id="timer" method="POST" action="#" type="bloodpressure" value="{{ bloodpressure.id }}">
                        <b><span class="ndash"> &nbsp </span><span id="bloodpressure{{ bloodpressure.id }}">{{ bloodpressure.systolic }}/{{ bloodpressure.diastolic }} <strong>Sys/Dia</strong></span></b>
                    </form>
                </td>
                <td id="btn_bloodpressure{{ bloodpressure.id }}" class="btn edit_button"
                    data-toggle="modal"
                    data-target="#editBloodPressureModal"
                    data-activity-id="{{ bloodpressure.id }}"
                    data-activity-date="{{ display_date }}"
                    data-activity-systolic="{{ bloodpressure.systolic }}"
                    data-activity-diastolic="{{ bloodpressure.diastolic }}">
                    <a class="fa fa-pencil" tabindex="1" title="Edit Entry">
                        <i data-icon="edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</li>
