<li class="day_view__entry card">
    <table>
        <tbody>
            <tr id="timesheet">
                <td>
                    <div class="entry__info">
                        <div class="project_client">
                            <span class="project">
                                <strong>Workout</strong>
                            </span>
                        </div>
                        <div class="task_notes">
                            <span class="task">
                                <strong>ID:</strong> {{ workout.id }}
                                <span class="ndash">&nbsp</span>-<span class="ndash">&nbsp</span>
                                {% if workout.started_at %}
                                    Started at: {{ workout.started_at }}
                                {% endif %}
                                {% if workout.interval %}
                                    <strong>Type:</strong> Interval
                                {% else %}
                                    <strong>Type:</strong> Endurance
                                {% endif %}
                                 <span class="ndash">&nbsp</span>-<span class="ndash">&nbsp</span>
                                {% if workout.intense %}
                                    <strong>Intensity:</strong> Intense
                                {% else %}
                                    <strong>Intensity:</strong> Light
                                {% endif %}
                            </span>
                            {% if workout.description %}
                                <span class="notes">
                                    <p>
                                        <span class="ndash"> Description: </span>
                                        {{ workout.description }}
                                    </p>
                                </span>
                            {% endif %}

                        </div>
                    </div>
                </td>
                <td class="entry__time">
                    <!-- TODO: Add dynamic generated id to form for each entry -->
                    <!-- Sends correct timer id (activity.id) to socketio room for toggle timer functionality -->
                    <form id="timer" method="POST" action="#" type="workout" value="{{ workout.id }}">
                        <b><span class="ndash"> &nbsp </span><span id="time_workout{{ workout.id }}">{{ workout.duration|hour_min }}</span></b>
                        <input type="hidden" id="timer_id" name="timer_id" value="{{ workout.id }}">
                        {% if current_date == display_date %}
                            <button class="btn start-timer-btn" name="timer_btn_workout{{ workout.id }}" id="timer_btn_workout{{ workout.id }}" type="submit">
                                <svg class="icon-timer" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                <circle class="icon-timer-face" cx="11" cy="11" r="10" stroke-width="2"></circle>
                                <path class="icon-timer-hand" d="M12.8 10.2L11 2l-1.8 8.2-.2.8c0 1 1 2 2 2s2-1 2-2c0-.3 0-.6-.2-.8z"></path>
                                </svg>
                                <span id="timer_btn_text_workout{{ workout.id }}">Start</span></button>
                        {% endif %}
                    </form>
                </td>
                <td id="time_btn_workout{{ workout.id }}" class="btn edit_button"
                    data-toggle="modal"
                    data-target="#editWorkoutModal"
                    data-activity-id="{{ workout.id }}"
                    data-activity-date="{{ display_date }}"
                    data-activity-duration="{{ workout.duration }}"
                    data-activity-intense="{{ workout.intense }}"
                    data-activity-light="{{ workout.light }}"
                    data-activity-interval="{{ workout.interval }}"
                    data-activity-endurance="{{ workout.endurance }}">
                    <a class="fa fa-pencil" tabindex="1" title="Edit Entry">
                        <i data-icon="edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</li>
