<li class="day-view-entry card">
    <table>
        <tbody>
            <tr id="timesheet">
                <td>
                    <div class="entry-info">
                        <div class="project-client">
                            <span class="project">
                                <strong>Blood Sugar </strong> Measurement
                            </span>
                        </div>
                        <div class="task-notes">
                            <span class="task">
                                <strong>ID:</strong> {{ bloodsugar.id }}
                                <span class="ndash">&nbsp</span>-<span class="ndash">&nbsp</span>
                                <strong>Glucose Levels: </strong> {{ bloodsugar.glucose_level }} mmol/L
                                <span class="ndash">&nbsp</span>-<span class="ndash">&nbsp</span>
                                <strong>Insuline Levels: </strong> {{ bloodsugar.insulin_level }} pmol/L
                            </span>
                            {% if bloodsugar.description %}
                                <span class="notes">
                                    <p>
                                        <span class="ndash"> Description: </span>
                                        {{ bloodsugar.description }}
                                    </p>
                                </span>
                            {% endif %}

                        </div>
                    </div>
                </td>
                <td class="entry-time">
                    <!-- TODO: Add dynamic generated id to form for each entry -->
                    <!-- Sends correct timer id (activity.id) to socketio room for toggle timer functionality -->
                    <form id="timer" method="POST" action="#" type="bloodsugar" value="{{ bloodsugar.id }}">
                        <b>
                            <span class="ndash"> &nbsp </span>
                            <span id="bloodsugar{{ bloodsugar.id }}"><strong>{{ bloodsugar.glucose_level }} mmol/L (Glucose)</strong></span>
                            <br>
                            <span id="bloodsugar{{ bloodsugar.id }}"><strong>{{ bloodsugar.insulin_level }} pmol/L (Insulin)</strong></span>
                        </b>
                    </form>
                </td>
                <td id="btn_bloodsugar{{ bloodsugar.id }}" class="btn edit-button"
                    data-toggle="modal"
                    data-target="#editBloodSugarModal"
                    data-activity-id="{{ bloodsugar.id }}"
                    data-activity-date="{{ display_date }}"
                    data-activity-glucose-level="{{ bloodsugar.glucose_level }}"
                    data-activity-insulin-level="{{ bloodsugar.insulin_level }}">
                    <a class="fa fa-pencil" tabindex="1" title="Edit Entry">
                        <i data-icon="edit"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</li>
