{% extends "base.html" %}
{% block content %}

<!-- Create navigation for days of week based on selected date -->
<script>
    $(document).ready(function() {
        let displayDate = moment("{{ display_date }}");
        let monday = moment(displayDate).startOf('isoWeek');
        let daysOfWeek = [];

        // Cycle through each day of week to create week nav bar
        for (let i = 0; i < 7; i++) {

            daysOfWeek.push(moment(monday).add(i, 'days'))

            // Change styling for current selected nav day
            if (moment(displayDate).isSame(daysOfWeek[i])) {
                $('ul#day_view__week_nav li a[href='+String(i)+']').addClass('selected')
            }

            // Create link for each nav day
            $('ul#day_view__week_nav li a[href='+String(i)+']').prop('href', flask_util.url_for('showHome', {year: daysOfWeek[i].format('YYYY'), month: daysOfWeek[i].format('M'), day: daysOfWeek[i].format('DD')}));
        }
    });
</script>

<header class="row banner main">

    <!-- Title -->
    <div class="row-fluid title">
        <div class="col-md-8 title__date">
            <h1>
                {{ moment(display_date, local=True).format('dddd') }}
                <span>{{ moment(display_date, local=True).format('Do MMM') }}</span>
            </h1>
        </div>
    </div>

    <div class="new_entry__week_navigation">
        <!-- Days of Week Navigation -->
        <a id="new_entry" class="btn new_entry__btn" href="{{url_for('newEntry', year = display_year, month = display_month, day = display_day)}}">
            <span>New</span>
        </a>

        <div class="button__toggle">
            <a class="btn" href="{{url_for('showHome', year = display_year, month = display_month, day = display_day-1)}}">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="{{url_for('showHome', year = current_year, month = current_month, day = current_day)}}">
                <button type="button" class="btn btn-selected" tabindex="1" title="Jump to Today">
                    Today
                </button>
            </a>
            <a class="btn" href="{{url_for('showHome', year = display_year, month = display_month, day = display_day+1)}}">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>

</header>

<section>
    <div class="day_view">

        <!-- TODO: Add ability to choose by calendar date -->
        <ul id="day_view__week_nav" class="day_view__week_nav">
            {% for day in days %}
                <li>
                    <a class="btn" href="{{ day }}" currentDate="{{ current_date }}">{{ days[day] }}</a>
                </li>
            {% endfor %}
        </ul>

        <ul class="day_view__entry_list">
            {% for key, entry in entries.items() %}

                {% if key == 'meals' %}
                    {% set meals = entry %}
                    {% for meal in meals %}
                        {% include 'formMeal.html' %}
                    {% endfor %}
                {% endif %}

                {% if key == 'sleep' %}
                    {% set sleep_sessions = entry %}
                    {% for sleep in sleep_sessions %}
                        {% include 'formSleep.html' %}
                    {% endfor %}
                {% endif %}

                {% if key == 'workouts' %}
                    {% set workout_sessions = entry %}
                    {% for workout in workout_sessions %}
                        {% include 'formWorkout.html' %}
                    {% endfor %}
                {% endif %}

                {% if key == 'weights' %}
                    {% set weight_measurements = entry %}
                    {% for weight in weight_measurements %}
                        {% include 'formWeight.html' %}
                    {% endfor %}
                {% endif %}

                {% if key == 'bloodpressure' %}
                    {% set bloodpressure_measurements = entry %}
                    {% for bloodpressure in bloodpressure_measurements %}
                        {% include 'formBloodpressure.html' %}
                    {% endfor %}
                {% endif %}

                {% if key == 'bloodsugar' %}
                    {% set bloodsugar_measurement = entry %}
                    {% for bloodsugar in bloodsugar_measurement %}
                        {% include 'formBloodsugar.html' %}
                    {% endfor %}
                {% endif %}

                {% if key == 'heartrate' %}
                    {% set heartrate_measurement = entry %}
                    {% for heartrate in heartrate_measurement %}
                        {% include 'formHeartrate.html' %}
                    {% endfor %}
                {% endif %}

            {% endfor %}
        </ul>
    </div>
</section>
<section class="log">
    <h3>Log:</h3>
    <span id="log"></span>
</section>

<!-- Bootstrap Modals -->
{% for key, form in forms.items() %}

    {% if key == 'meal' %}
        {% set meal_form = form %}
        {% include 'editMealModal.html' %}
    {% endif %}

    {% if key == 'sleep' %}
        {% set sleep_form = form %}
        {% include 'editSleepModal.html' %}
    {% endif %}

    {% if key == 'workout' %}
        {% set workout_form = form %}
        {% include 'editWorkoutModal.html' %}
    {% endif %}

    {% if key == 'weight' %}
        {% set weight_form = form %}
        {% include 'editWeightModal.html' %}
    {% endif %}

    {% if key == 'blood_pressure' %}
        {% set bloodpressure_form = form %}
        {% include 'editBloodPressureModal.html' %}
    {% endif %}

    {% if key == 'blood_sugar' %}
        {% set bloodsugar_form = form %}
        {% include 'editBloodSugarModal.html' %}
    {% endif %}

    {% if key == 'heart_rate' %}
        {% set heartrate_form = form %}
        {% include 'editHeartRateModal.html' %}
    {% endif %}

{% endfor %}

{% endblock %}
