{% extends "base.html" %}
{% block content %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        // Use a "/timer" namespace.
        // An application can open a connection on multiple namespaces, and
        // Socket.IO will multiplex all those connections on a single
        // physical channel. If you don't care about multiple channels, you
        // can set the namespace to an empty string.
        namespace = '/timer';

        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        // TODO: Dynamically generate new rooms for each new entry to match dynamically gen css id's

        room1 = 'timer_1'
        room2 = 'timer_2'
        // Event handler for new connections.
        // The callback function is invoked when a connection with the
        // server is established.
        socket.on('connect', function() {
            // Bug #2: After page refresh, all buttons are reset to 'Start'
                // Bug #2: TODO #1: On connect, send emit asking for active_timer
                // Bug #2: TODO #1: If active timer exists, update styling & button

            socket.emit('no_server_handler_built_yet', {data: 'I\'m connected!'});
        });


        // TODO: IF CLICKED BUTTON IS RUNNING, STOP IT. IF NOT, START IT AND TURN OFF OTHER TIMERS.

        // Bug #2: After page refresh, all buttons are reset to 'Start'
            // Bug #2: TODO #1: On connect, send emit asking for active_timer
            // Bug #2: TODO #1: If active timer exists, update styling & button
        $('form#timer').submit(function(event) {
            clickedTimerID = $(this).attr('value');
            clickedButtonA = $('#timer_btn_text_'+clickedTimerID);
            clickedButtonParentList = clickedButtonA.closest('li');
            startClickedTimer = true;

console.log("Clicked Button #", clickedTimerID)
            console.log("ClickedButtonParentList: ", clickedButtonParentList)
            console.log("clickedButtonA: ", clickedButtonA)
            if (clickedButtonA.hasClass('is-running')) {
                console.log("Clicked Timer Already Running.  Stopping Timer #", clickedTimerID)
                // if "clicked timer" is running, stop it
                clickedButtonA.text('Start')
                clickedButtonA.removeClass('is-running')
                clickedButtonA.parentsUntil('div.container').removeClass('is-running')
                socket.emit('deactivate_timer', {room: $(this).attr('value')});
                $('#log').append('<br>' + $('<div/>').text('Client Sent Stop Timer Request..' + $(this).attr('value')).html());
                startClickedTimer = false;  // Clicked timer was running. Stopped it. don't Restart it.
            } else if (clickedButtonParentList.siblings('li').hasClass('is-running')) {
                // if another timer is running, stop it
                runningTimerList = clickedButtonParentList.siblings('li.is-running')
                runningTimerForm = runningTimerList.find('form#timer')
                runningTimerID = runningTimerForm.attr('value')
                console.log("Other Timer Already Running.  Stopping Timer #", runningTimerID)
                runningTimerBtn = runningTimerForm.find('span.is-running')
                runningTimerBtn.text('Start')
                runningTimerBtn.removeClass('is-running')
                runningTimerBtn.parentsUntil('div.container').removeClass('is-running')
                socket.emit('deactivate_timer', {room: runningTimerID});
                $('#log').append('<br>' + $('<div/>').text('Client Sent Stop Timer Request..' + runningTimerID).html());
                startClickedTimer = true;
            }

            // if no other timer is running, start clicked timer
            if (startClickedTimer) {
                console.log("Started Timer #", clickedTimerID)
                clickedButtonA.text('Stop')
                clickedButtonA.addClass('is-running')
                clickedButtonA.parentsUntil('div.container').addClass('is-running')
                socket.emit('activate_timer', {room: $(this).attr('value')});
                $('#log').append('<br>' + $('<div/>').text('Client Sent Start Timer Request.. ' + $(this).attr('value')).html());
            }

            return false;
        });

        // LOG Event handler for server sent data.
        // The callback function is invoked whenever the server emits data
        // to the client. The data is then displayed in the "Received"
        // section of the page.
        socket.on('connect_response', function(msg) {
            $('#log').append('<br>' + $('<div/>').text('Websocket Status: ' + msg.data + '. Active Timer: ' + msg.active_timer).html());
        });

        socket.on('my_response', function(msg) {
            $('#log').append('<br>' + $('<div/>').text('Timer Update For: ' + msg.active_timer + ': ' + msg.data).html());
        });

        // Timer response event handler
        pageReloadedTimerResponse = true
        socket.on('timer_response', function(msg) {
            console.log("CURRENT ACTIVE TIMER: ", msg.active_timer)

            // Update button text for active timer after page refresh
            activeTimerID = msg.active_timer
            if (activeTimerID && pageReloadedTimerResponse) {
                activeTimerBtn = $('#timer_btn_text_'+activeTimerID);
                activeTimerBtn.text('Stop')
                activeTimerBtn.addClass('is-running')
                activeTimerBtn.parentsUntil('div.container').addClass('is-running')
                $('#log').append('<br>' + $('<div/>').text('Client Sent Start Timer Request.. ' + activeTimerID).html());
                pageReloadedTimerResponse = false
            }

            // Active timer response
            $('#time_'+msg.active_timer).text(msg.count);
        });
    });
</script>

<div class="row banner main">
    <div class="col-md-11 padding-none">
        <h1>PRIVATE Dashboard</h1>
    </div>
</div>

<div class="row padding-top padding-bottom">
    <div class="col-md-10 padding-none">
        <a href="{{url_for('newEntry')}}">
            <button class="btn btn-default" id="new-restaurant">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">New Entry</span>
            </button>
        </a>
    </div>
</div>

<!-- TODO: How to change timer based on active/inactive status and correct activity? -->
{% for meal in meals %}
    <li class="day-view-entry test-entry-660520049 is-new-entry">
        <table>
            <tbody>
                <tr id="timesheet_day_entry_660520049">
                    <td>
                        <div class="entry-info">
                            <div class="project-client">
                                <span class="project">{{ meal.id }}: Meal - </span>
                                <span class="client">
                                  {% if meal.healthy %}
                                        Healthy
                                        <span class="ndash">&nbsp </span>
                                    {% else %}
                                        Unhealthy
                                    {% endif %}
                                </span>
                            </div>
                            <div class="task-notes">
                                <span class="task">
                                    {% if meal.started_at %}
                                        Started at: {{ meal.started_at }}
                                    {% endif %}
                                    {% if meal.unhealthy %}
                                        {% if meal.starch_rich %}
                                            Starch Rich
                                        {% elif sucrose_rich %}
                                            Sucrose Rich
                                        {% endif %}
                                    {% endif %}
                                </span>
                                {% if meal.description %}
                                    <span class="notes">
                                        <p>
                                            <span class="ndash"> – </span>
                                            {{ meal.description }}
                                        </p>
                                    </span>
                                {% endif %}

                            </div>
                        </div>
                    </td>
                    <td class="entry-time">
                        <!-- TODO: Add dynamic generated id to form for each entry -->
                        <!-- Sends correct timer id (activity.id) to socketio room for toggle timer functionality -->
                        <form id="timer" method="POST" action="#" value="{{ meal.id }}">
                            <b><span class="ndash"> &nbsp </span><span id="time_{{ meal.id }}">{{ meal.duration }}</span></b>
                            <input type="hidden" id="timer_id" name="timer_id" value="{{ meal.id }}">
                            <button name="timer_btn_{{ meal.id }}" id="timer_btn_{{ meal.id }}" type="submit"><span id="timer_btn_text_{{ meal.id }}">Start</span></button>
                        </form>
                    </td>
                    <td class="edit-button do-not-print">
                        <button class="glyphicon glyphicon-pencil" tabindex="1" title="Edit Entry" type="button">
                            <i data-icon="edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
{% endfor %}
    <h2>Receive:</h2>
    <div id="log"></div>

{% endblock %}
