<head>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles.css')}}">

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"></script>
  <meta name="google-signin-client_id" content="365157182734-ltv8o7v7utn4nhm5kbnf95nhspjcjgk6.apps.googleusercontent.com">
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>


<body>

  <nav class="nav">
      <div class="nav__wrapper">
          <ul class="nav__wrapper__admin">
              <li class="nav__flash">
                  {% include 'flash.html' %}
              </li>
          </ul>
      </div>
  </nav>

  <div class="login_wrapper">

    <!-- Title -->
    <div class="row-fluid title">
        <div class="col-md-8">
            <h1>Health Assistant</h1>
            <h3>Personal Health Tracker</h3>
            <p>Please login to gain access to the application</p>
        </div>
    </div>

    {% if provider == 'google' %}
      <!-- GOOGLE PLUS SIGN IN-->
      <div id="my-signin2" style="width: 232; padding: 1em; margin: 0 auto;"></div>

    {% elif provider == 'facebook' %}
      <!-- FACEBOOK SIGN IN -->
      <div id="fb-root"></div>
      <fb:login-button class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email" onlogin="sendTokenToServer();">
        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
      </fb:login-button>

    {% else %}
      <!-- GOOGLE PLUS SIGN IN-->
      <div id="my-signin2" style="width: 232; padding: 1em; margin: 0 auto;"></div>

      <!-- FACEBOOK SIGN IN -->
      <div id="fb-root"></div>
      <fb:login-button class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email" onlogin="sendTokenToServer();">
        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
      </fb:login-button>

    {% endif %}


</div>
<div class="login_result"></div>

<!--START GOOGLE PLUS SIGN IN -->
<script>
function onSuccess(googleUser) {
  console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
}
function onFailure(error) {
  console.log(error);
}
function renderButton() {
  gapi.signin2.render('my-signin2', {
    'redirecturi': 'postmessage',
    'accesstype': 'offline',
    'cookiepolicy': 'single_host_origin',
    'callback': signInCallback,
    'approvalprompt': 'force',
    'scope': 'profile email',
    'width': 232,
    'height': 40,
    'longtitle': true,
    'theme': 'dark',
    'onsuccess': signInCallback,
    'onfailure': onFailure
  });
}
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    $('.login_wrapper').attr('style', 'display: none')

    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('.login_result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
         }, 4000);


      } else if (authResult['error']) {

    console.log('There was an error: ' + authResult['error']);
  } else {
        $('.login_result').html('Failed to make a server-side call. Check your configuration and console.');
         }

      }

  }); } }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
  var access_token = '';
  // see: https://developers.facebook.com/quickstarts/
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '882192941946242',
        autoLogAppEvents : true,
        cookie     : false,  // enable cookies to allow the server to access
                            // the session
        status     : true,
        xfbml      : true,
        version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
      FB.Event.subscribe('auth.login', function(response) {
          access_token = response.authResponse.accessToken;
      });
    };


    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
      console.log('Welcome!  Fetching your information.... ');
      // FB.logout(function(response) {
      //    console.log("Logged out", response)
      // });
      FB.login(function(response){
          FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
           $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{STATE}}',
            processData: false,
            data: access_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('.login_wrapper').attr('style', 'display: none')
                $('.login_result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
               setTimeout(function() {
                window.location.href = "/home";
               }, 4000);

            } else {
              $('.login_result').html('Failed to make a server-side call. Check your configuration and console.');
               }
            }
          });
        });
      }, {scope: 'email, public_profile'});
  };
</script>
<!--END FACEBOOK SIGN IN -->

  </body>
</html>
