{% extends "base.html" %}

{% block content %}

<br><br>
<h1 class="title">ADD NEW ENTRY</h1>
<hr>

<!-- TODO: NEW MEAL ENTRY -->
<h2>New Meal</h2>
<form action="" method="post" name="">
    {{ meal_form.hidden_tag() }}

    <p>{{ meal_form.date }}</p>
    <p>Duration: {{ meal_form.time }}</p>
    {{ meal_form.health }}
    <br><br>
    {{ meal_form.description(placeholder="Notes (optional)") }}
    <br>
    {{ meal_form.starch_rich.label }}{{ meal_form.starch_rich }}
    {{ meal_form.sucrose_rich.label }}{{ meal_form.sucrose_rich }}
    <br>
    {{ meal_form.submit_meal }}
</form>
<br><br>
<hr>
<!-- ERROR MESSAGE CODE: -->
<!--      {% for error in meal_form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %} -->


<!-- TODO: NEW Sleep ENTRY -->
<h2>New Sleep</h2>
<form action="" method="post" name="">
    {{ sleep_form.hidden_tag() }}

    <p>{{ sleep_form.date }}</p>
    <p>Duration: {{ sleep_form.time }}</p>

    <br>
    {{ sleep_form.submit_sleep }}
</form>

<br><br>
<hr>

<!-- TODO: NEW Workout ENTRY -->
<h2>New Workout</h2>
<form action="" method="post" name="">
    {{ workout_form.hidden_tag() }}

    <p>{{ workout_form.date }}</p>
    <p>Duration: {{ workout_form.duration }}</p>

    <label><strong>Workout Type:</strong></label>
    {{ workout_form.workout_type }}
    <label><strong>Workout Intensity:</strong></label>
    {{ workout_form.intensity }}
    <br>
    {{ workout_form.submit_workout }}
</form>

<br><br>
<hr>


<!-- TODO: NEW Weight ENTRY -->
<h3>New Weight Measurement</h3>
<form action="" method="post" name="">
    {{ weight_form.hidden_tag() }}

    <p>{{ weight_form.date }}</p>
    {{ weight_form.weight(placeholder="Weight (lbs)") }}
    <br>
    {{ weight_form.submit_weight }}
</form>

<br><br>
<hr>

<!-- TODO: NEW Blood Pressure ENTRY -->
<h3>New Blood Pressure Measurement</h3>
<form action="" method="post" name="">
    {{ bloodpressure_form.hidden_tag() }}

    <p>{{ bloodpressure_form.date }}</p>
    {{ bloodpressure_form.systolic(placeholder="systolic") }}
    <br>
    {{ bloodpressure_form.diastolic(placeholder="diastolic") }}
    <br>
    {{ bloodpressure_form.submit_bloodpressure }}

</form>

<br><br>
<hr>

<!-- TODO: NEW Blood Sugar ENTRY -->
<h3>New Blood Sugar Measurement</h3>
<form action="" method="post" name="">
    {{ bloodpressure_form.hidden_tag() }}

    <p>{{ bloodsugar_form.date }}</p>
    {{ bloodsugar_form.glucose_level(placeholder="Glucose Level") }}
    <br>
    {{ bloodsugar_form.insulin_level(placeholder="Insulin Level") }}
    <br>
    {{ bloodsugar_form.submit_bloodsugar }}

</form>

<br><br>
<hr>

<!-- TODO: NEW Heart Rate ENTRY -->
<h3>New Heart Rate Measurement</h3>
<form action="" method="post" name="">
    {{ heartrate_form.hidden_tag() }}

    <p>{{ heartrate_form.date }}</p>
    {{ heartrate_form.bpm(placeholder="Beats Per Minute BPM") }}
    <br>
    {{ heartrate_form.measurement_type }}
    <br>
    {{ heartrate_form.submit_heartrate }}
</form>

{% endblock %}
